.mart-pic {
  width: 25%;
  height: auto;
  border: 2px solid rgba(0,0,240,0.9);
  float:right;
  margin: 0% 4% 0% 4%;
  box-shadow: 6px 6px grey;
  border-radius: 6px;
}

.mainheading {
color: lightgray;text-align:center;
text-shadow:3px 5px 10px rgba(0,0,250,1);
}

.subheading {
color: lightgray; text-align :center;
text-shadow:3px 5px 5px rgba(0,0,250,0.8);

}

.maintext {
background:linear-gradient(to right,darkblue,royalblue);
width:63%;
box-shadow: 6px 6px grey;
color: lightgray;
margin-left: 30px;
padding-left: 13px;
border-radius: 6px;
}

footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: blue;
text-align: left;
}
.orderlist {
position:relative;
background: linear-gradient(to right,darkblue,royalblue);
box-shadow: 6px 6px grey;
width: 50%;
color: lightgrey;
margin-left: 30px;
border-radius: 6px;
} 
/*
body {
	background: linear-gradient(gray,lightgray);
}	
*/	
.secondsub {

color: white;
}

div h4 {

color: white;
}


div h5 {
color: white;
}
.certs {
display: inline-block;
margin-left: 4px;
padding-left: 4%;
padding-bottom: 3%;
width: 23%;
height: auto;
border-radius: 6px; 
}

#solocerts{
display: block;
margin: 0px;
padding: 0px;
position: relative;
top: 50px;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x: auto;
}

body{
background: url(rainingnum.jpg) no-repeat center center fixed;
background-size: cover;
background-color: blue;
}
h4{
margin-left: 50px;
}



